{% extends 'base.html' %}

{% block head %}
<title>
    My word list
</title>

{% endblock %}

{% block body %}


<div style="text-align: center; padding: 20px;">
    <a class="btn btn-primary" href="{% url 'word_create' %}">Add word</a>
</div>


<div class="list-group  d-grid gap-2 border-0 w-auto">
    {% for word in all_words %}
    <label class="list-group-item rounded-3 py-3">
        <a href="{% url 'word_detail' pk=word.pk %}">{{ word.eng_word }}</a>
        <span class="d-block small opacity-60"> {{word.rus_word}} </span>
    </label>
    {% endfor %}
</div>

{% endblock %}



