{% extends 'base.html' %}

{% block title %}
<title>
    Examples
</title>
{% endblock %}

{% block body %}

<div style="text-align: center;padding: 20px;">
    <a class="btn btn-primary" href="{% url 'word_update' object.pk %}">Edit word</a>
    <a class="btn btn-primary" href="{% url 'delete_word' object.pk %}">Delete word</a>
     <a class="btn btn-primary" href="">Add example</a>
</div>
    <h3 style="text-align: center; padding: 20px;">
        {{ word.eng_word }} - {{ word.rus_word }}
    </h3>
<h4 style="text-align: center;">examples:</h4>
<div class="list-group  d-grid gap-2 border-0 w-auto">
    {% for example in examples %}
    <label class="list-group-item rounded-3 py-3">
        <span class="d-block small"> <h5>{{ example.eng_example }} </h5></span>
        <span class="d-block small opacity-60"> {{example.rus_example}} </span>
    </label>
    {% endfor %}
</div>
{% endblock %}
