{% extends 'base.html' %}

{% block title %}
<title>
    Примеры
</title>
{% endblock %}

{% block body %}
<h1>Примеры</h1>
<a href="{% url 'main'%}">< на главную</a>
<p>
    <form action="{% url 'word_update' object.pk %}">
        <input type="submit" value="Редактировать слово" />
    </form>
</p>

<p>
    {{ word }}
</p>

<div class="list-group  d-grid gap-2 border-0 w-auto">
    {% for example in examples %}
    <label class="list-group-item rounded-3 py-3">
        <span class="d-block small"> <h5>{{ example.eng_example }} </h5></span>
        <span class="d-block small opacity-60"> {{example.rus_example}} </span>
    </label>
    {% endfor %}
</div>
{% endblock %}
